.options {
  border: 1px solid #fff;
  padding: 10px 20px;
  align-self: center;
  margin: auto;
  align-self: center;
  width: min-content;
  margin: 20px auto 30px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formInput {
  margin: 20px !important;
  margin-inline: 10px;
  width: 300px;
}

.editor {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.statusContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.status {
  margin: 10px 5px !important;
}
